
:root{
  --backgroundColor: #1b2125;
  --forgroundColor: #2a4450;
  --acentColor: #479dbf;
  --hoverColor: #367185;
  --fontColor: #fcf1df;

}



body {
    background-color: var(--backgroundColor);
}


.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: 	var(--forgroundColor);
    position: fixed;
    height: 98%;
    overflow: auto;
    border-radius: 10px;
    border: 1px, solid, var(--fontColor);
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: 	var(--fontColor);
    padding: 16px;
    text-decoration: none;
}

/*Active links */
.sidebar a.active{
    background-color: var(--acentColor);
    color:rgb(255, 255, 255)
}

/*Links when mouse is over*/
.sidebar a:hover:not(.active){
    background-color: var(--hoverColor);
    color: rgb(255, 255, 255);
    border: 2px solid var(--fontColor);
}
/* Page content. The value of the margin left should match the sidebars width value*/
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100%;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;} 
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


canvas {
position: absolute;
left: 20%;
top: 10%;
border-radius: 10px;
}
#info-container{
  position: absolute;
  background-color: var(--forgroundColor);
  left: 62%;
  top: 10%;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  border: 1px, solid, var(--fontColor);
  margin-left: 5%;
}
#top-bar{
  position: absolute;
  padding: 0;
  margin: 0;
  width: 80%;
  height: 50px;
  background: var(--forgroundColor);
  border-radius: 10px;
  border: 1px, solid, var(--fontColor);
}
#bottom-bar{
  position: absolute;
  padding: 0;
  margin: 0;
  width: 80%;
  height: 50px;
  background: var(--forgroundColor);
  border-radius: 10px;
  border: 1px, solid, var(--fontColor);
  margin-top: 4%;
}


.cards{
  width: 100%;
  height: 100%;
  padding-top: 6.5%;
  padding-left: 5%;
}

.product-card {
  display: flex;
  align-items: center;
  border: 1px solid var(--fontColor);
  padding: 12px;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background-color: var(--forgroundColor);
  margin-top: 2%;
}

.product-card img {
  width: 150px;
  height: auto;
  margin-right: 20%;
  border-radius: 6px;
  border: 2px solid var(--acentColor);
}

.product-info {
  flex: 1;
  
}
.product-info h2 {
  margin: 0 0 10px;
  color: var(--fontColor);
}
.product-info p {
  margin: 0 0 10px;
  color: var(--fontColor);
  padding-bottom: 10px;
}

.button {
  background-color: var(--hoverColor);
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: var(--acentColor);
  border: 1px solid var(--fontColor);
}

#home-container{
  position: absolute;
  background-color: var(--forgroundColor);
  left: 62%;
  top: 13.5%;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  border: 1px, solid, var(--fontColor);
  margin-left: 6%;
}

.main-discription-section{
  display: flex;
  margin-top: 5%;
}
.micro-discription-section{
  display: flex;
}
.main-discription{
  padding: 2.5%;
  background-color: var(--hoverColor);
  border: 2px solid var(--fontColor);
  border-radius: 10px;
  margin: 1%

}
.extra-info{
  padding: 2.5%;
  background-color: var(--forgroundColor);
  border: 2px solid var(--fontColor);
  border-radius: 10px;
  margin: 1%
} 
.local-play{
  padding: 2.5%;
  background-color: var(--forgroundColor);
  border: 2px solid var(--fontColor);
  border-radius: 10px;
  margin: 1%
}
.live-play{
  padding: 2.5%;
  background-color: var(--forgroundColor);
  border: 2px solid var(--fontColor);
  border-radius: 10px;
  margin: 1%
}
.ai-play{
  padding: 2.5%;
  background-color: var(--hoverColor);
  border: 2px solid var(--fontColor);
  border-radius: 10px;
  margin: 1%
}
.content p {
  color: var(--fontColor);
}
.content h2 {
  color: var(--fontColor);
}


.moveHistory{
  padding: 5%;
  background-color: var(--acentColor);
  border-radius: 10px;
  margin:10px;
}
.moveHistory p{
  background-color: var(--backgroundColor);
  border-radius: 5px;
  padding: 5px;
  
}
.moveHistory ul {
  list-style-type: none;
  color: var(--fontColor);
  background-color: var(--backgroundColor);
  padding: 10px;
  border-radius: 5px;
  max-height: 240px;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
  align-content: flex-start;
}

.game-timers{
  width:60%;
  display: flex;
  position: fixed;
  top: 74%;
  
}
.game-timers h1{
  padding: 10px 20px;
  background-color: var(--fontColor);
  margin: 10px;
  border-radius: 5px;
}

.timer-words{
  width:60%;
  display: flex;
  position: fixed;
  top: 67%;
}
.timer-words h2{
  
  padding: 10px 52px 10px 52px;
  margin: 10px;
  background-color: var(--backgroundColor);
  border-radius: 5px;
}