
:root{
  --backgroundColor: #1b2125;
  --forgroundColor: #2a4450;
  --acentColor: #6389C6;
  --hoverColor: #367185;
  --fontColor: #fcf1df;

}



body {
    background-color: var(--backgroundColor);
}


.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: 	var(--forgroundColor);
    position: fixed;
    height: 98%;
    overflow: auto;
    border-radius: 10px;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: 	var(--fontColor);
    padding: 16px;
    text-decoration: none;
}

/*Active links */
.sidebar a.active{
    background-color: var(--acentColor);
    color:rgb(255, 255, 255)
}

/*Links when mouse is over*/
.sidebar a:hover:not(.active){
    background-color: var(--hoverColor);
    color: rgb(255, 255, 255);
    border: 2px solid #172a3a;
}
/* Page content. The value of the margin left should match the sidebars width value*/
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100%;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;} 
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


canvas {
position: absolute;
left: 20%;
top: 10%;
border-radius: 10px;
}
#info-container{
  position: absolute;
  background-color: var(--forgroundColor);
  left: 62%;
  top: 10%;
  width: 400px;
  height: 600px;
  border-radius: 10px;
}
#top-bar{
  position: absolute;
  padding: 0;
  margin: 0;
  width: 80%;
  height: 50px;
  background: var(--forgroundColor);
  border-radius: 10px;
}
